.DS_STORE
node_modules
dist
package-lock.json
public/*.html
public/*.js
public/*.*.gz
public/*.*.br
public/*.*.deflate
public/assets
public/public
public/*/*
public/manifest.json
!public/now.json
!public/dat.json
!public/.well-known/*
!public/.dat/*